%p#notice= notice
.job_show
	.job_header

		.show_job_title
			= @job.title
		.company_name
			= @job.company_name
		-# here the question i want to display the user that goes with the job that get posted.
		.user
			-if user_signed_in?
				Posted by
				= @job.user.profile_name
	.job_date
		POSTED ON
		%br
		= @job.created_at

	%p.job_description
		= @job.description
	= link_to 'Show More', @job.details_link, :class => "details_link"

	.job_links
		= link_to 'Edit', edit_job_path(@job)
		|
		= link_to 'Back', jobs_path
