!!!
%html
%head
  %title Easyjobs
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rokkitt', :rel => 'stylesheet', :type => 'text/css'
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  #wrapper
    #header
    %h1#logo
      Easy Jobs!
    %p.notice= notice
    %p.alert= alert
    #user_bar
      - if current_user
        Logged In as #{current_user.email}
        |
        = link_to 'Sign out', logout_path
      - else
        = link_to "Register", register_path
        |
        = link_to "Sign In", login_path
    .content= yield
